@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&family=Chivo+Mono:wght@200;700&display=swap");

.App {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  width: 900px;
  margin: auto;
}

hr {
  margin: 0px -500px 0px -500px;
  border: 0;
  border-top: 3px solid;
}

.profile,
.podlist {
  width: 100%;
}

body {
  font-family: "Barlow";
}

h1 {
  font-family: "Chivo Mono";
  font-size: 36px;
  color: #1b3312;
}

h2 {
  font-family: "Chivo Mono";
  font-size: 26px;
  color: #1b3312;
}

h3 {
  font-family: "Chivo Mono";
  font-weight: 200;
  font-size: 20px;
  color: #1b3312;
}

h4 {
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 200;
  color: #1b3312;
}

h5 {
  font-family: "Barlow";
  font-size: 26px;
  font-weight: 200;
  color: #1b3312;
}

//profile page lists components

.listgrid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.listgrid-addpodcast {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.list-section {
  display: flex;
  flex-direction: column;
}

.section-title {
  text-align: left;
  padding-top: 20px;
}

.section-title h3 {
  font-size: 30px;
}

.hash-tag {
  color: #d2e93c;
}

.lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.listitem-main {
  width: 175px;
  height: 175px;
  padding: 20px;
  border: 2px solid #3af0d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listitem-main a h5 {
  margin: 10px 0px;
}

.listitem-add {
  width: 150px;
  height: 150px;
  margin: 20px;
  padding: 20px;
  border: 2px solid #3af0d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-list-icon {
  width: 30px;
}

p.add-list {
  font-family: "Barlow";
  font-size: 26px;
  font-weight: 200;
  margin-top: 10px;
}

//user podlist page

.podlist {
  display: flex;
  flex-direction: column;
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  justify-content: flex-start;
  width: 100%;
}

.podlist-header {
  border-color: none;
  margin: 40px auto;
  background-repeat: no-repeat;
}

.podcast-header {
  border-style: dotted;
  border-width: 5px;
  border-color: #d2e93c;
  margin: 40px auto;
}

.profile-hr {
  border-color: #370545;
}

.podlist-hr {
  border-color: #d2e93c;
}

.podcast-hr {
  border-color: #e5f2f8;
}

.page-image {
  margin: 20px;
  z-index: 2;
}

.podlist-details {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 0px;
  margin: 20px;
  flex-direction: column;
  width: 100%;
}

.podlist-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.podlist-row-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.podlist-row-left h2 {
  text-align: left;
}

.podlist-row-left h4,
.podlist-row-left .share,
.podlist-row-right a,
.podlist-row-mix p,
.podlist-row-mix a {
  padding-bottom: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: none;
}

.podlist-row-right img {
  width: 75px;
}

.podlist-row-right p {
  text-align: right;
}

.podlist-row-right a {
  padding-top: 5px;
  text-decoration: none;
  border-bottom: 5px solid white;
}

.underline:hover {
  border-bottom: 5px solid #2fc2ae;
}

.podlist-row-left img {
  width: 30px;
}

.podlist-row-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.podlist-row-left .share {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}

.podlist-row-left .share img,
.podlist-row-left .react-share__ShareButton {
  width: 25px;
  padding-right: 10px;
}

.podlist-row-mix {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // margin-top: 10px;
  // margin-bottom: 10px;
}

.podlist-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.podlist-item {
  display: flex;
  margin: 20px;
  width: 100%;
}

.podlist-description {
  margin: 20px;
  max-width: 80%;
  margin: auto;
}

.podlist-item-container {
  width: 900px;
}

.podlist-item-block {
  width: 100%;
}

.podlist-item-details {
  text-align: left;
  margin: 0px 20px 20px 20px;
  width: 675px;
}

.pod-list-item-description button {
  font-size: 16px;
}

.podcast-item img {
  width: 80px;
}

.podlist-item-actions {
  display: flex;
  align-items: center;
}

.podlist-item-actions a {
  text-decoration: none;
  padding-bottom: 5px;
  padding-right: 5px;
}

.action-button {
  padding: 0px 5px;
  width: 25px;
  border-bottom: 5px solid white;
}

.action-button:hover {
  border-bottom: 5px solid #2fc2ae;
}

.deletion-confirmation {
  border: solid 3px #d2e93c;
  padding: 10px;
  margin-right: -100px;
  width: 200px;
  margin-top: 15px;
}

.deletion-confirmation p {
  text-align: center;
}

.delete-buttons-block {
  display: flex;
  justify-content: space-between;
}

.pod-list-item-description p {
  width: 100%;
}

.details-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details-row-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details-row-left p,
.details-row-left h3 {
  margin-top: 0px;
  padding-right: 20px;
}

.details-row-right {
  display: flex;
  justify-content: flex-end;
}

a {
  color: #370545;
}

button {
  border-style: solid;
  background-color: #ffffff;
  border-color: #d2e93c;
  font-family: "Chivo Mono";
  transition: box-shadow 1s ease-in-out;
}

// button :hover {
//   box-shadow: 0 0 5px rgb(117, 125, 116);
// }

.button-blue {
  border-style: solid;
  background-color: #ffffff;
  border-color: #2fc2ae;
  font-family: "Chivo Mono";
}

.button-add {
  border-style: solid;
  background-color: #ffffff;
  border-color: #2fc2ae;
  font-family: "Chivo Mono";
  font-size: 16px;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 20px;
}

.button-add-underline,
.podlist-row-mix a,
.underline,
.button {
  border-bottom: solid #2fc2ae 5px;
  background-color: #ffffff;
  font-family: "Chivo Mono";
  font-size: 16px;
  padding-right: 5px;
  padding-left: 5px;
  text-decoration: none;
}

.button-add-underline:hover,
.podlist-row-mix a:hover {
  border-bottom: solid #d2e93c 5px;
}

.button-add-underline p {
  margin-bottom: 0px;
}

.profile-header {
  margin: 80px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.profile-details {
  width: 30%;
}

.profile-details h2 {
  margin-bottom: 5px;
}

.profile-details img {
  width: 200px;
}

.profile-top8 h3 {
  margin-top: 40px;
  margin-bottom: 5px;
}

.top8-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}

.top8-item {
  flex: 1 0 21%;
  width: 40px;
  margin-bottom: 6px;
  padding: 3px;
}

.top8-item img {
  width: 75px;
}

.friends-block,
.add-friend {
  display: flex;
  flex-direction: row;
}

.add-friend {
  width: 270px;
  justify-content: center;
  align-items: center;
}

.add-friend p {
  padding-right: 10px;
}

.recommend-item,
.friend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.friend-item img:hover {
  border: solid 2px #d2e93c;
  border-radius: 100%;
}

.recommend-item img,
.friend-item img,
.add-friend img {
  width: 40px;
  margin-right: 10px;
}

.add-form {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.add-form input {
  padding: 10px;
  border-style: solid;
  border-color: #d2e93c;
}

.footer {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.itunes-player-block {
  padding: 50px;
  margin-bottom: 20px;
  // background-color: #e5f2f8;
  border: solid 5px #e5f2f8;
  transform: translateY(0px);
}

.podcast-match-block {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 5px;
  background-color: #e5f2f8;
  width: 80%;
  margin: auto;
}
.podcast-match-block img {
  width: 25px;
  padding-right: 5px;
}

.podcast-match-block p {
  margin: 10px;
}
