@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&family=Chivo+Mono:wght@200;700&display=swap");

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  justify-content: center;
  width: 900px;
  margin: auto;
}

hr {
  margin: 0px -500px 30px -500px;
  border: 0;
  border-top: 3px solid #c9c7c7;
  z-index: -1;
}

.profile,
.podlist {
  width: 100%;
}

body {
  font-family: "Barlow";
}

h1 {
  font-family: "Chivo Mono";
  font-size: 36px;
  color: #1b3312;
}

h2 {
  font-family: "Chivo Mono";
  font-size: 26px;
  color: #1b3312;
}

h3 {
  font-family: "Chivo Mono";
  font-weight: 200;
  font-size: 20px;
  color: #1b3312;
}

h4 {
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 200;
  color: #1b3312;
}

h5 {
  font-family: "Barlow";
  font-size: 26px;
  font-weight: 200;
  color: #1b3312;
}

//profile page lists components

.listgrid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.listgrid-addpodcast {
  display: flex;
  flex-direction: row;
}

.list-section {
  display: flex;
  flex-direction: column;
}
.section-title {
  text-align: left;
}

.hash-tag {
  color: #d2e93c;
}

.lists {
  display: flex;
  flex-direction: row;
}

.listitem {
  width: 25%;
  margin: 20px;
  padding: 20px;
  border: 2px solid #2FC2AE;
}

//user podlist page

.podlist {
  display: flex;
  flex-direction: column;
}

.page-header {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 5px;
  border-color: #d2e93c;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  justify-content: flex-start;
  width: 100%;
}

.page-image {
  margin: 20px;
}

.podlist-details {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 0px;
  margin: 20px;
  flex-direction: column;
  width: 100%;
}

.podlist-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.podlist-row-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.podlist-row-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.podlist-row-right .share {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  justify-content: flex-end;
}

.podlist-row-mix {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.podlist-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.podlist-item {
  display: flex;
  margin: 20px;
}

.podlist-description {
  margin: 20px;
  max-width: 80%;
  margin: auto;
}

.podlist-item-details {
  text-align: left;
  margin: 0px 20px 20px 20px;
}

.details-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details-row-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details-row-left p,
.details-row-left h3 {
  margin-top: 0px;
  padding-right: 20px;
}

.details-row-right {
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #370545;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
  font-size: 20px;
  height: 120px;
}

.nav-link {
  color: #ffffff;
  font-size: 20px;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.nav-right p {
  padding-left: 10px;
}

//search

.search {
  width: 70%;
  margin: 20px auto 20px;
}

.search-form {
  max-width: 100%;
}

.search input {
  height: 28px;
  width: 75%;
}

.search button {
  height: 34px;
  width: 20%;
}

.search-results-container {
  padding: 20px;
  margin: auto;
}

.search-results-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.search-results-item img {
  width: 60px;
  padding-right: 20px;
}

.item-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

a {
  color: #370545;
}

button {
  border-style: solid;
  background-color: #ffffff;
  border-color: #d2e93c;
  font-family: "Chivo Mono";
  transition: box-shadow 1s ease-in-out;
}

button :hover {
  box-shadow: 0 0 5px rgb(117, 125, 116);
}

.button-blue {
  border-style: solid;
  background-color: #ffffff;
  border-color: #2FC2AE;
  font-family: "Chivo Mono";
}

.button-add {
  border-style: solid;
  background-color: #ffffff;
  border-color: #2FC2AE;
  font-family: "Chivo Mono";
  font-size: 16px;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 20px;
}

.profile-header {
  margin: 80px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.profile-details {
  width: 30%;
}

.profile-details h2 {
  margin-bottom: 5px;
}

.profile-details img {
  width: 200px;
}

.profile-top8 h3 {
  margin-top: 40px;
  margin-bottom: 5px;
}

.top8-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}

.top8-item {
  flex: 1 0 21%;
  width: 40px;
  margin-bottom: 6px;
  padding: 3px;
}

.top8-item img {
  width: 75px;
}

.recommend-item,
.friend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.recommend-item img,
.friend-item img {
  width: 40px;
  margin-right: 10px;
}

.add-form {
display: flex;
flex-direction: row;
justify-content: start;
}

.add-form input {
  padding: 10px;
  border-style: solid;
  border-color: #d2e93c;
}

// Homepage css
.home-main {
  display: flex;
  width: 1300px
}

.home-main-left {
  width: 33.3%;
  border: solid #d2e93c;
}

.home-main-centre {
  width: 33.3%;
  border: solid #d2e93c;
}

.home-main-right {
  width: 33.3%;
  border: solid #d2e93c;
}

.home-up-next {
  padding: 5px;
  margin: 5px;
  border: solid #d2e93c;
}

.home-find-new {
  padding: 5px;
  margin: 5px;
  border: solid #2FC2AE;
}

.home-secondary-left {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px;
  border: solid #d2e93c;
}

.home-secondary-centre {
  width: 33.3%;
  border: solid #d2e93c;
  padding: 30px;
}

.home-secondary-right {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px;
  flex-wrap: wrap;
  border: solid #d2e93c;
}

.home-carousel {
  width: 75%;
  justify-content: center;
}

.lucky-button {
  border-style: solid;
  background-color: #ffffff;
  border-color: #2FC2AE;
  font-family: "Chivo Mono";
  font-size: 20px;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px ;
}

.footer {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
