// nav

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #370545;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
  font-size: 20px;
  height: 120px;
  border-bottom: 5px solid #d2e93c;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left a,
.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Chivo Mono";
  font-weight: 700;
}

.nav-link {
  color: #ffffff;
  font-size: 20px;
}

.nav-left img {
  width: 110px;
}

.nav-left .logo-name {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-left: 10px;
  font-family: "Chivo Mono";
  font-weight: 700;
}
.nav-right {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.nav-right .login-user a {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.nav-right p {
  margin: 0px;
}

.nav-right .login-user img {
  width: 40px;
  border: solid 2px #d2e93c;
  border-radius: 100%;
  margin: 0px 10px 0px 10px;
}

.nav-right .login-user img:hover {
  border: solid 2px #2fc2ae;
  border-radius: 100%;
}

.nav-right .nav-search img {
  width: 35px;
  margin: 0px 10px 0px 10px;
}

.nav-search {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

//search

.search {
  width: 50%;
  margin: 50px auto 20px;
}

.search-form {
  max-width: 100%;
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  height: 50px;
  width: 75%;
  border-radius: 0px;
  border: solid 5px #d2e93c;
  border-right: none;
  font-size: 18px;
  outline: none;
  padding-left: 20px;
}

.search button {
  height: 62px;
  width: 25%;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 5px solid #d2e93c;
  font-size: 18px;
  font-weight: bold;
}

.search-results-container {
  padding: 20px;
  margin: auto;
}

.search-results-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-results-item img {
  width: 60px;
  padding-right: 20px;
}

.item-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.item-details a {
  text-decoration: none;
  font-size: 18px;
  border-bottom: 5px solid white;
  color: black;
}

.item-details p:hover {
  border-bottom: 5px solid #2fc2ae;
}

.search-podcast {
  font-size: 25px;
}

.podcast-hr {
  border-color: #e5f2f8;
}
